$brand-color: #6ba74d; // Green, like the navigation background
$secondary-color: #4c9644; // dark green
$tertiary-color: #ffed91; // Yellow, used or bg of sidebar.
$quaternary-color: lighten(#906025,5%); // Dark yellow/brown
$primary-text-color: #444;
$primary-link-color: #555;
$subtle: lighten($primary-text-color,15%);

@mixin primary-typeface {
  font-family: Helvetica, Arial, sans-serif;
}